
                                                     /*INDEX*/


/*Titulo principal: las totas*/


.tituloPrincipal{
    text-align: center;
    color: #f7b0c8;
    font-family: 'Pacifico', cursive;
}

/* titulo fotos index */

.titulovasosindex{
   
    color: #b0f7cc;
    margin-left: 50px;
    top: 50px;
}

.tituloorganizadoresindex{
   
    color:#b0f7cc;
    margin-left: 400px;

}

.titulocoleindex{
  
    color:#b0f7cc;
    margin-left:1000px;
    bottom: 50px;
}




                                              /*Menu*/

.menu{
     font-family:'Amatic SC', cursive;
    display:flex;
    justify-content:center;
    background-color: #f7b0c9;
    color: white;
   
}

.menu{
    display: grid;
    grid-template-columns: 100px 200px 100px 100px 100px 100px;
}
.menu  a{
    text-decoration-line: none;
}

.vasos{ 
   
    font-size: 35px;
    display: inline; 
    color: #ffffff; 
}


.botellas{ 
   
    font-size: 35px;
    display: inline;
    color: #ffffff;
}

.organizadores{
    text-decoration-line: none;
    font-size: 35px;
    display:inline;  
    color: #ffffff;  
}

.mates{ 
    font-size: 35px;
    display: inline;
    color: #ffffff;   
}

.bowls{
    font-size: 35px;
    display:inline;    
    color: #ffffff;;
    
}

.contacto{
    font-size: 35px;
    display:inline; 
    color: #ffffff;;   
}


/*Subtítulos dentro del menu - los que no están en el index*/
.vaso1{   
   
    display:flex;
    left:10px;
    bottom:50px;
    color: #b0f7cc;  
   
}

.mateAntiVuelco1{  
    color: #b0f7cc;
    position:relative;
    left:50px;
    bottom:10px;
}


.Diaria{

   color: #b0f7cc;
   left: 100px; 
}

.botellita_Kids{
    text-align:center ;
    color: #b0f7cc;
    left:150px;
}

.bowl{
    color: #b0f7cc;
}
.minibowlstitulo{
    color: #b0f7cc;
}

.subtitulo_Canastam{
display: flex;
color:#b0f7cc;
left:50px;
    
}

.subtituloOrganizador{
    position: relative;
    bottom: 400px;
    left:700px;
    color: #b0f7cc;
}



/* Titulos principales dentro del menu */

.titulovasostermicos{  
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}
.titulobotellas{
    text-decoration: none;
    text-align: center;  
    color: #b0f7cc; 
    font-family: "Amatic SC", cursive;
    font-size: 45px; 
}

.titulomates{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;
    font-family: "Amatic SC", cursive;
    font-size: 45px;
    
}

.titulobowl{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc; 
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}

.tituloOrganizadores{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;   
    font-family:'Amatic SC', cursive ;
    font-size: 45px;
}

.tituloContactanos{ 
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;   
    font-family:"Amatic SC", cursive ;
    font-size: 45px;
}

/*Ubicación fotos*/
.vasos1{
    bottom:100px;
   right: 200px;
}
.textovasos{
    right:200px;
    top:130px;

}

.fotomate{
   bottom:30px;
   left:50px;
}

.imagen_botella{ 
    top: 100px;
    right:200px;
}
.botellita_kids{
    top:100px;
    right:100px;
}

.padrefotosindex{
    display: flex;
    
}
.fotos_index{
    margin-left: 100px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
}
.canastitas_img{
top:30px;
}

.parrafocanastita1{
 position:relative;
 left:300px;
 bottom:200px;
}
.organizador_img{
    position: relative;
    bottom:400px;
    left:650px;
}
.parrafoorganizador{
    position: relative;
    left:950px;
    bottom:580px;
}


/* ubicación labels*/
/*vasos térmicos*/
.elegieltuyovasos{
    position: relative;
    top:50px;
}
.elegivasos{
    position:relative;
    top: 50px;
}
/*organizadores*/   
.elegieltuyoorganizador{
    position: relative;
    bottom:450px
}

.elegiorganizadores{
    position:relative;
    bottom:450px;
}





/*botellas*/

.elegieltuyobotella{
    position: relative;
    bottom:20px;
}
.elegibotellas{
    position:relative;
    bottom:20px;
}

/*mates*/
.elegieltuyomates{
    position:relative;
    top:5px;
    left:50px;
}
.elegimates{
    position:relative;
    top:5px;
    left: 50px;
}



/*footer*/

.seguinos{
    padding-left: 560px;
     padding-top: 250px;
}

.logoInstagram{
    padding-left: 30px;
}


/*                                   GRIDS                           */

/*botellas*/
.padre_botellas{
   display: grid;
   grid-template-areas: 
   "padrebotellas"
   "label"
   "footer";
   grid-template-columns: 500px 500px;
   grid-template-rows: 3fr;
}



.padre_bowls{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 9fr ;
    grid-template-areas: 
    "padre_bowls"
    "elemento_bowl"
    "bowl"
    "bowlrosamedida"
    "elemento_bowl2"
    "minisbowlstitulo"
    "fotominibowls"
    "label"
    "footer";
}



    /*       MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {

/*index*/
.padrefotosindex{
    display: flex;
    flex-flow: row wrap;
}
/*pestaña vasos*/
.padrevasos1{
    display: flex;
    flex-flow: row wrap;
}

/*pestaña botellas*/
.padre_botellas{
    display: flex;
    flex-flow: row wrap;
}

/*pestaña organizadores*/


/*pestaña bowls*/
.padre_bowls{
    display: flex;
    flex-flow: row wrap;
}}


                                          /* BANNERS*/
.carruselslide{
    display: flex;
    width: 50%;
    margin: auto;
    right: 30%;
    height: 30%;
}

.carousel-indicators{
display: flex;
width: 150%;
padding:0%;
animation: "cambio" infinite;

}
.carousel-inners{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0%{margin-left:0%};
    20%{ margin-left: 100%};

    50%{ margin-left: 100%};
    80%{margin-left: -200%};

    100%{ margin-left: -200%};
}
